@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Inter", Arial, Helvetica, sans-serif;
  background-color: black;
  display: flex;
  justify-content: center;
}

#main-content {
  border-style: none;
  border-radius: 0;
  background: white;
  width: 600px;
  height: 100vh;
}
